@charset "utf-8";

/* CSS Document */

.icon {
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-left: -32px !important;
  display: block;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
hr {
  display: none;
}
body {
  background: url('../images/background.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.homeContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.content {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: #222222;
  color: white;
}
.anchor {
  display: block;
  position: relative;
  top: -96.5px;
  visibility: hidden;
}
.text {
	padding: 25px;
}
html, body, .view {
  height: 100%;
  min-height: 400px;
}
footer {
  height: 100px;
  background-color: #222222; 
  line-height: 100px;
  text-align: center;
}
.footerText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
}
@media (min-width: 768px) {
  .icon {
    left: 0%;
    margin-left: 0px !important;
  }
  .navbar-nav {
    position: relative;
    width: 50%;
    min-width: 450px;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-nav>li {
    width: 33.333%;
  }
  ul li {
    display: inline;
    text-align: center;
  }
  .aboutButton:hover~hr {
    margin-left: 0%;
  }
  .registerButton:hover~hr {
    margin-left: 33.333%;
  }
  .contactUsButton:hover~hr {
    margin-left: 66.666%;
  }
  hr {
    position: absolute;
    top: 60px;
    height: 5px;
    width: 33.333%;
    min-width: 150px;
    background: #fcd704;
    border: none;
    transition: .3s ease-in-out;
    pointer-events: none;
  }
  .about {
    margin-left: 0%;
  }
  .register {
    margin-left: 33.333%;
  }
  .contactUs {
    margin-left: 66.666%;
  }
  .homeContainer {
    min-height: 600px;
  }
}